# Сервер
NODE_ENV=development
SERVER_PORT=3001
CLIENT_PORT=3000
# CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/events_world
PG_POOL_SIZE=10
