# Сервер
NODE_ENV=development
SERVER_PORT=3001
CLIENT_PORT=3000
# CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info

# MongoDB (временно, до миграции на PostgreSQL)
MONGO_URI=mongodb://localhost:27017
DB_NAME=pollutionData
